extends layout

block content
    h1= title

    - let novelid = toShow._id
    - let novelname = toShow.novel_name
    - let novelauthor = toShow.novel_author
    - let novelpages = toShow.novel_pages
     div
        div.row
            div(class='novelAttr mr-3') novel ID is:
            div #{novelid}
        div.row
            div(class='novelAttr mr-3') novel name is:
            div #{novelname}
        div.row
            div(class='novelAttr mr-3') novel author is:
            div #{novelauthor}
        div.row
            div(class='novelAttr mr-3') novel author is:
            div #{novelpages} 