extends layout

block content
    h1= title
    - let novelid = toShow._id
    - let novel_name = toShow.novel_name
    - let novel_author = toShow.novel_author
    - let novel_pages = toShow.novel_pages

    div.row(class='mb-2')
        div.mr-1 ID is
        div #{novelid}

    - let actionid="/resource/novel/" + novelid
    form(id='novelForm', action=actionid, method="PUT")
        div.form-group
            label.novelAttr(for='novel_name') novel name
            input#novel_name(type='text', name='novel_name',value=novel_name)
        div.form-group
            label.novelAttr(for='novel_author') novel author
            input#novel_author(type='text', name='novel_author',value=novel_author)
        div.form-group
            label.novelAttr(for='novel_pages') novel pages
            input#novel_pages(type='number', name='novel_pages',value=novel_pages)
        input(type="submit")

    script.
        document.forms['novelForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.text(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
                window.location='/novel'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });