//- extends layout
//- block content
//-     div(class="container-fluid")
//-         h1= title
//-         - const result=results 
//-           div(class="row")
//-             each form,item in results
//-                 div(class = "col-sm-2" ) #{form.novel_name}              
//-                 div(class = "col-sm-2" ) #{form.novel_author}                
//-                 div(class = "col-sm-2" ) #{form.novel_pages}
                
    
//-     br
//-     h4= 'buy'

//-     div(class="container-fluid")
//-       each novel,index in results
//-         div(class="row", onclick=`buy(${index})`)
//-           div(class="col-sm-2") <br>novel #{index}: #{novel.novel_name} author:#{novel.novel_author} pages:#{novel.novel_pages}

//-     script.
//-         function buy(itemNo)
//-         {
//-             alert(`You purchased Item ${itemNo+1}`)
//-         }

extends layout
 
block content
  h1= title
  - let items = results;
    button.btn( class="btn-success", onclick= `dispatch(\"/novel/create")`) Create
 
  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch("/novel/update?id=${item._id}")`
        div(class="row-sm-2 m-1")
          button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/novel/update?id=${item._id}\")`) Update
          button.btn( class="btn-danger ml-1",  onclick= `dispatch(\"/novel/delete?id=${item._id}\")`) Delete
          button.btn( class="btn-warning ml-1", onclick= `dispatch(\"/novel/detail?id=${item._id}\")`) Detail
          p Name is #{item.novel_name}
          p Author is #{item.novel_author}
          p Pages is #{item.novel_pages}
 
  script.
    function dispatch(path) {
      window.location.href = path;
    }