extends layout
block content
    div(class="container-fluid")
        h1= title
        - let results=[{novel_name:"angerLove", novel_author:"vivekanandha", novel_pages:233},{novel_name:"wings of freedom", novel_author:"abdul kalam", novel_pages:103},{novel_name:"gullivers", novel_author:"stepf", novel_pages:543}]
          div(class="row")
            each form,item in results
                div(class = "col-sm-2" ) #{form.novel_name}              
                div(class = "col-sm-2" ) #{form.novel_author}                
                div(class = "col-sm-2" ) #{form.novel_pages}
                
    
    br
    h4= 'buy'

    div(class="container-fluid")
      each novel,index in results
        div(class="row", onclick=`buy(${index})`)
          div(class="col-sm-2") <br>novel #{index}: #{novel.novel_name} author:#{novel.novel_author} pages:#{novel.novel_pages}

    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }